@import '../../../common.scss';

.mainWrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    margin-top: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    padding: 0px 10px;
    flex: 1 1 auto;
}

.img {
    max-width: 500px;
    float: right;
}

.firstText {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
}

.titleText {
    font-size: 32px;
    font-weight: 600;
    line-height: 115%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text ul {
    margin-left: 30px;
}

.text ul li {
    list-style-type: disc;
}

.orangeText {
    color: $orangeTextColor;
}

@media screen and (max-width: 1000px) {
    .img {
        max-width: 350px;
    }
}

@media screen and (max-width: 800px) {
    .content {
        font-size: 15px;
    }
    .img {
        max-width: 300px;
    }

    .titleText {
        font-size: 20px;
    }

    .firstText {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .img {
        max-width: 200px;
    }
}

@media screen and (max-width: 450px) {
    .content {
        font-size: 13px;
    }
    .img {
        max-width: 150px;
    }

    .titleText {
        font-size: 18px;
    }

    .firstText {
        font-size: 13px;
    }
}