.parametrs {
    max-width: 300px;
    // height: 40px;
    background-color: rgb(232, 237, 255);
    border: 1px solid rgb(177, 193, 251);
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    padding: 10px;
    margin-bottom: 15px;
}

.selects {
    display: flex;
    gap: 30px;
}

.select p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

.select select {
    width: 180px;
    padding: 3px 18px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 5px;
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

.select input {
    width: 180px;
    padding: 3px 18px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

.select:last-child select, .select input {
    width: 250px;
    padding: 3px 18px;
}

.select input.vin {
    width: 500px;
}


.filterButtons {
    margin-top: 20px;
    display: flex;
}

.filterButtons button {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    padding: 3px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

.filterButtons button:hover {
    background-color: #FAC799;
}

.filterButtons button.selectedButton {
    background-color: #FAC799;
}

.filterButtons button:first-child {
    border-radius: 10px 0px 0px 10px;
}

.filterButtons button:last-child {
    border-radius: 0px 10px 10px 0px;
}

.bottomBlock {
    display: flex;
    justify-content: space-between;
}

.bottomBlock.bottomBlockJustButton {
    justify-content: end;
}

.checkboxes {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}

.checkboxes div {
    display: flex;
}

.checkboxes div:last-child>img {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    cursor: pointer;
    align-self: center;
    margin-left: 7px;
}

// модалка в первой вкладке

.explanationModalWrapper {
    position: fixed;
    z-index: 5;
    overflow: hidden;
    background-color: #ffffffa3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}

.explanationModalWrapper.explanationModalHidden {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.explanationModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.explanationModalTop {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    position: relative;
}

.explanationModalTitle {
    align-self: center;
    color: rgb(239, 129, 0);
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0%;
}

.explanationModalTop img {
    position: absolute;
    top: -40px;
    right: 27px;
    width: 25px;
    height: 25px;
}

.explanationModalContent {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0px 80px;
    margin-bottom: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
}

.explanationModalText {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.explanationModalText_first {
    margin-bottom: 70px;
}

.explanationModalText_second {
    margin-bottom: 15px;
}

.explanationModalText_third {
    margin-left: 30px;
}

.explanationModalText_third ul li {
    list-style-type: disc;
}


.tiresModalImg {
    width: 520px !important;
    height: 450px !important;
    align-self: flex-end;
    cursor: default;
}

.checkboxesMinHeight {
    height: 30px;
}

@media screen and (max-width: 1200px) {
    .explanationModal {
        max-width: 520px;
    }

    .explanationModalTop {
        margin-top: 30px;
    }

    .explanationModalTitle {
        font-size: 20px;
        width: 310px;
        text-align: center;
        line-height: 30px;
    }

    .explanationModalTop img {
        top: -8px;
        right: 20px;
    }

    .explanationModalContent {
        margin-top: 40px;
        font-size: 15px;
        line-height: 20px;
        padding: 0px 20px;
        position: relative;
    }

    .explanationModalText {
        width: 430px;
    }

    .explanationModalText_first {
        margin-bottom: 40px;
    }

    .explanationModalText_second {
        margin-bottom: 10px;
    }

    .explanationModalText_third {
        margin-left: 20px;
        width: 200px;
    }

    .tiresModalImg {
        width: 250px !important;
        height: 200px !important;
        align-self: flex-end;
        position: absolute;
        bottom: -20px;
        right: 10px;
    }
}




@media screen and (max-width: 1070px) {
    .selects {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        gap: 20px;
    }

    .selects select {
        width: 100%;
        font-size: 13px;
        padding: 5px 18px;
    }

    .select input {
        padding: 5px 18px;
        font-size: 13px;
    }
    
    .select:last-child select, .select input {
        padding: 5px 18px;
    }

    .select p {
        font-size: 13px;
    }

    .select:last-child select {
        width: 100%;
        padding: 5px 18px;
    }

    .filterButtons button {
        font-size: 13px;
    }

    .checkboxesInput+.checkboxesLabel {
        padding-left: 25px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1025px) {
    .selects {
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        gap: 20px;
    }

    .selects select {
        width: 100%;
    }

    

    .bottomBlock {
        flex-direction: column;
        gap: 15px;
    }

    .bottomBlock.bottomBlockJustButton {
        margin-top: 30px;
    }
}

@media screen and (max-width: 708px) {
    .checkboxes {
        flex-wrap: wrap;
        gap: 15px;
        margin: 0 auto;
        margin-top: 20px;
        width: 312px;
    }

    .filterButtons {
        justify-content: center;
        margin: 0 auto;
        margin-top: 40px;
    }

    .select input.vin {
        width: 400px;
    }
    
}

@media screen and (max-width: 515px) {
    .filterButtons {
        margin-top: 40px;
        display: flex;
    }

    .filterButtons button {
        border: 1px solid rgb(217, 217, 217);
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
        padding: 5px;
        color: rgb(0, 0, 0);
        font-size: 13px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .checkboxes {
        width: 241px;
    }

    .checkboxesInput+.checkboxesLabel {
        padding-left: 25px;
        font-size: 13px;
    }

    .checkboxesInput+.checkboxesLabel:before {
        top: 2px;
        width: 20px;
        height: 20px;
    }

    .checkboxes img {
        width: 20px;
        height: 20px;
        margin-left: 3px;
    }

    .checkboxes div:last-child>img {
        width: 21px;
        height: 21px;
    }

    .select input.vin {
        width: 300px;
    }
}



@media screen and (max-width: 485px) {
    .explanationModal {
        max-width: 310px;
    }

    .explanationModalTop {
        margin-top: 30px;
    }

    .explanationModalTitle {
        font-size: 15px;
        width: 310px;
    }

    .explanationModalTop img {
        top: -14px;
        right: 13px;
        width: 15px;
        height: 15px;
    }

    .explanationModalContent {
        margin-top: 20px;
        font-size: 12px;
        line-height: 15px;
        padding: 0px 5px;
    }

    .explanationModalText {
        width: 330px;
    }

    .explanationModalText_first {
        margin-bottom: 30px;
    }

    .explanationModalText_second {
        margin-bottom: 10px;
    }

    .explanationModalText_third {
        margin-left: 20px;
        width: 150px;
    }

    .tiresModalImg {
        width: 140px !important;
        height: 120px !important;
        align-self: flex-end;
        position: absolute;
        bottom: -35px;
        right: 10px;
    }

    .select input.vin {
        width: 100%;
    }
}