@import '../../../../../common.scss';

.mainWrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    display: flex;
    gap: 34px;
    justify-content: center;
    padding: 0px 20px;
    margin-top: 40px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactsBlock {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.title {
    color: $orangeTextColor;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
}

.text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.map {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 682px;
    height: 422px;
}

.map>iframe {
    width: 100% !important;
    height: 422px !important;
}

@media screen and (max-width: 1070px) {
    .mainWrapper {
        margin-top: 15px;
    }
}

@media screen and (max-width: 881px) {
    .mainWrapper {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 722px) {
    .mainWrapper {
        flex-direction: column-reverse;
    }

    .map {
        width: 560px;
        height: 400px;
    }

    .map>iframe {
        width: 560px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 600px) {
    .mainWrapper {
        flex-direction: column-reverse;
    }

    .map {
        width: 400px;
        height: 240px;
    }

    .map>iframe {
        width: 400px !important;
        height: 240px !important;
    }
}


@media screen and (max-width: 455px) {
    .mainWrapper {
        flex-direction: column-reverse;
    }

    .map {
        width: 330px;
        height: 170px;
    }

    .title {
        font-size: 16px;
    }

    .text {
        font-size: 16px;
    }
}