@import '../../../common.scss';

.mainWrapper {
    margin: 0 auto;
    margin-top: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 10px;
    flex: 1 1 auto;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 39px;
}

.text {
    white-space: pre-line;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
}

@media screen and (max-width: 550px) {
    .paragraph {
        gap: 15px;
    }
    .title {
        font-size: 18px;
    }
    .text {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 16px;
    }
    .text {
        font-size: 13px;
    }
}