.mainWrapper {
    max-width: 1600px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.banner {
    margin: 50px 0px;
}

.banner img:first-child {
    max-width: 1600px;
    margin: 0 auto;
    display: block;
}

.banner img:last-child {
    width: 315px;
    margin: 0 auto;
    display: none;
}

@media screen and (max-width: 1625px) {
    .banner img:first-child {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1020px) {
    .banner img:first-child {
        max-width: 600px;
    }
}

@media screen and (max-width: 1020px) {
    .banner img:first-child {
        display: none;
    }

    .banner img:last-child {
        display: block;
    }
}