.mainWrapper {
    border-radius: 5px;
    background: rgb(250, 251, 255);
    width: 100%;
    height: 220px;
    border-radius: 5px;
    background: rgb(249, 250, 255);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.icons {
    display: flex;
    gap: 20px;
}

.iconsContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.iconsTop {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.iconsTop img {
    width: 30px;
}

.productImg {
    margin-left: 12px;
    display: flex;
}

.productImg img {
    align-self: center;
    max-width: 170px;
    border-radius: 20px;
}

.iconsBottom img {
    width: 30px;
}


.productName {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 10px;
    padding: 0px 10px;
}

.productInfoContent {
    display: flex;
    width: 100%;
}

.productInfoContent>div {
    width: 100%;
}

.productInfoContent p {
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
    margin-bottom: 7px;
}

.delElement {
    margin-right: 20px;
}

.delElement img {
    cursor: pointer;
}

.productButtons {
    display: flex;
    gap: 70px;
}

.productInfoAmountItem {
    display: flex;
    border-radius: 5px;
    background-color: rgb(249, 199, 153);
    padding: 10px 20px;
    gap: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    align-self: center;
}

.productInfoAmountItem button {
    border-radius: 5px;
    background: rgb(249, 199, 153);
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
}

.productInfoAmountItem p {
    align-self: center;
    font-size: 16px;
}

.productPrice {
    border-radius: 5px;
    background: rgb(249, 199, 153);
    font-size: 15px;
    font-weight: 500;
    line-height: 12px;
    padding: 9px 20px;
    align-self: center;
}


@media screen and (max-width: 1090px) {
    .productInfo {
        gap: 10px;
    }
}


@media screen and (max-width: 890px) {
    .mainWrapper {
        height: 133px;
        padding: 15px;
        width: 450px;
        gap: 5px;
    }

    .icons {
        gap: 5px;
    }

    .productInfo {
        gap: 0px;
        padding: 0px 15px;
    }

    .iconsContent img {
        width: 15px;
        height: 15px;
    }

    .productImg {
        margin-left: 3px;
    }

    .productImg img {
        width: 65px;
    }

    .productName {
        font-size: 13px;
    }

    .productInfoContent p {
        font-size: 11px;
        margin-bottom: -3px;
    }

    .productButtons {
        display: flex;
        gap: 25px;
        margin-top: 3px;
    }

    .productInfoAmountItem {
        display: flex;
        border-radius: 5px;
        background-color: rgb(249, 199, 153);
        padding: 7px 7px;
        gap: 10px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        align-self: center;
    }

    .productInfoAmountItem button {
        font-size: 12px;
        align-self: center;
    }

    .productInfoAmountItem p {
        align-self: center;
        font-size: 12px;
    }

    .productPrice {
        padding: 7px 13px;
        font-size: 12px;
    }

    .delElement {
        margin-right: 0px;
    }

    .delElement img {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 560px) {
    .mainWrapper {
        height: 113px;
        padding: 10px;
        min-width: 320px;
        width: auto;
        gap: 3px;
    }

    .icons {
        gap: 1px;
    }

    .productInfo {
        gap: 7px;
        padding: 0px 0px;
    }

    .productName {
        font-size: 12px;
        line-height: 15px;
    }

    .productButtons {
        display: flex;
        gap: 23px;
        margin-top: 3px;
    }

    .productInfoAmountItem {
        display: flex;
        border-radius: 5px;
        background-color: rgb(249, 199, 153);
        padding: 5px 10px;
        gap: 10px;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        align-self: center;
    }

    .productInfoAmountItem button {
        font-size: 12px;
        align-self: center;
    }

    .productInfoAmountItem p {
        align-self: center;
        font-size: 12px;
    }

    .productPrice {
        padding: 5px 10px;
        font-size: 12px;
    }
}