.mainWrapper {
    width: 100%;
    height: 115px;
    background: rgb(217, 217, 217);
    padding: 20px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contentInfo {
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: stretch;
    align-content: stretch;
    height: 100%;
}

.infoLinks {
    display: flex;
}

.infoLinksContent {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 10px 0px;
}

.line {
    flex: none;
    width: 3px;
    background-color: #000;
    align-items: stretch;
    align-content: stretch;
}

.logo {
    max-width: 332px;
    display: flex;
    gap: 10px;
}

.logoImg {
    align-self: center;
}

.logoImg img {
    width: 60px;
    align-self: center;
}

.title {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 39px;
    align-self: center;
}

.links {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    gap: 20px;
}

.links a {
    color: #000;
    text-transform: uppercase;
}

.coop {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.coopMobile {
    display: none;
}

@media screen and (max-width: 975px) {
    .content {
        gap: 30px;
    }

    .logoImg img {
        width: 60px;
    }

    .title {
        font-size: 27px;
    }

    .links {
        font-size: 16px;
        gap: 25px;
    }

    .coop {
        font-size: 16px;
    }
}


@media screen and (max-width: 880px) {
    .mainWrapper {
        padding-bottom: 55px;
    }

    .content {
        gap: 30px;
    }

    .logoImg img {
        width: 60px;
    }

    .title {
        font-size: 27px;
    }

    .links {
        font-size: 16px;
        gap: 25px;
    }

    .coop {
        font-size: 16px;
    }
}


@media screen and (max-width: 833px) {
    .mainWrapper {
        height: 180px;
        padding-bottom: 70px;
    }

    .contentInfo {
        gap: 150px;
    }

    .line {
        display: none;
    }

    .logoImg {
        align-self: flex-start;
    }

    .logoImg img {
        width: 45px;
    }

    .logo {
        gap: 10px;
    }

    .title {
        font-size: 18px;
        align-self: flex-start;
    }

    .infoLinksContent {
        align-self: flex-start;
        margin-top: 7px;
        justify-content: center;
    }

    .links {
        font-size: 18px;
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }

    .links a {
        text-transform: none;
    }

    .coop {
        display: none;
    }

    .coopMobile {
        display: block;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
}


@media screen and (max-width: 550px) {
    .mainWrapper {
        height: 200px;
        padding-bottom: 45px;
    }

    .contentInfo {
        gap: 60px;
        height: auto;
    }

    .line {
        display: none;
    }

    .logoImg img {
        width: 35px;
    }

    .logo {
        gap: 10px;
    }

    .title {
        font-size: 15px;
    }

    .infoLinksContent {
        align-self: flex-start;
        margin-top: 7px;
        justify-content: center;
    }

    .links {
        font-size: 14px;
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
    }

    .coopMobile {
        display: block;
        font-size: 11px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 457px) {
    .mainWrapper {
        height: 130px;
        padding-bottom: 140px;
    }

    .contentInfo {
        gap: 30px;
        height: auto;
    }

    .line {
        display: none;
    }

    .logoImg img {
        width: 35px;
    }

    .logo {
        gap: 10px;
    }

    .title {
        font-size: 15px;
    }

    .infoLinksContent {
        align-self: flex-start;
        margin-top: 7px;
        justify-content: center;
    }

    .links {
        font-size: 14px;
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15px;
    }

    .coopMobile {
        margin-top: 20px;
        font-size: 12px;
        line-height: 15px;
        margin-top: 13px;
    }
}


@media screen and (max-width: 370px) {
    .mainWrapper {
        height: 195px;
        padding-bottom: 45px;
    }
    .contentInfo {
        flex-direction: column-reverse;
        gap: 15px;
        height: auto;
    }

    .links {
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
    }

    .logo {
        align-self: center;
    }

    .coopMobile {
        margin-top: 10px;
        font-size: 9px;
        line-height: 15px;
        margin-top: 13px;
    }
}