.mainWrapperOffenButton {
    border-radius: 7px;
    background: rgb(239, 129, 0);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.mainWrapperOffenButton p {
    padding: 15px 15px;
}

.placingOrderWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.placingOrderWrapper.placingOrderWrapperHidden {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.placingOrder {
    max-width: 420px;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.placingOrderContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.closeplacingOrder {
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 150%;
    align-self: flex-end;
}

.placingOrderButton {
    background: rgb(239, 129, 0);
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 7px;
}

.placingOrderSmsCode {
    border-radius: 7px;
    border: 1px solid #00000095;
    padding: 10px;
    text-align: center;
}

.placingOrderSmsCode::-webkit-outer-spin-button,
.placingOrderSmsCode::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.placingOrderSmsCode[type='number'] {
    -moz-appearance: textfield;
}

.placingOrderWasSend {
    text-align: center;
}


/* Основной контейнер лоадера */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 300px;
}

/* Шина */
.wheel {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #333;
    border-top-color: transparent;
    /* Скрываем верхнюю часть, чтобы создать эффект вращения */
    animation: spin 1s linear infinite;
    /* Анимация вращения */
}

/* Диск колеса */
.rim {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    background: #555;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Центральная часть шины */
.tire {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    border: 10px solid #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Анимация вращения */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}