.mainWrapperOffenButton {
    border-radius: 7px;
    background: rgb(239, 129, 0);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}

.mainWrapperOffenButton p {
    padding: 15px 15px;
}