@import url('https://fonts.googleapis.com/css2?family=Jost&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

$maxWidth: 1072px;
$maxWidth2: 1600px;
$font1: Montserrat Alternates;
$orangeTextColor: rgb(241, 116, 0);

.pageTitle {
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-transform: uppercase;
}


// стилизация чекбоксов
.checkboxesInput {
    cursor: pointer;
    width: 18px !important;
    height: 18px !important;
    border-radius: 3px !important;
}

.checkboxesImg {
    width: 15px !important;
    height: 16px !important;
    margin-left: 0 !important;
    cursor: pointer;
}

.checkboxesLabel {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

.checkboxesInputMobile {
    width: 20px !important;
    height: 20px !important;
}

.checkboxesLabelMobile {
    font-size: 15px;
}

.infinite-scroll-component::-webkit-scrollbar {
    display: none;
}

.infinite-scroll-component {
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */

    flex: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 1070px) {
    .checkboxesLabel {
        font-size: 13px;
    }
}

@media screen and (max-width: 515px) {
    .pageTitle {
        font-size: 25px;
    }

    .checkboxesInput {
        width: 20px !important;
        height: 20px !important;
    }
}